@import '~bootstrap/dist/css/bootstrap.css';

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  font-size: calc(6px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

form {
  align-items: center;
  justify-content: left;
  width: 300px;
}

input {
  width: 200px;
  margin: 1px;
}

.card {
  overflow: auto;
  height: 200px;
  display: flex;
  flex-direction: column;
}

body {
  height: 100%;
}